<div>
    <h1>Olvidaste tu contraseña?</h1>
    <form action="/api/sessions/forgotPassword" method="POST">
        <label>Email</label>
        <input name="email">
        <br>
        <label>New password</label>
        <input name="password" type="password">
        <button type="submit">Enviar</button>
    </form>
    <a href="/api/sessions/login">Iniciar sesion</a>
</div>
