<div>
    <li>
        <strong>Producto: </strong>{{getProperty product "title"}} - 
        <strong>Descripcion:  </strong>{{getProperty product "description"}} - 
        <strong>Precio: </strong>{{getProperty product "price"}}
    </li>
</div>