<div>
    <li>
        <strong>Producto: </strong>{{product.title}} - 
        <strong>Descripcion:  </strong>{{product.description}} - 
        <strong>Precio: </strong>{{product.price}}
    </li>
</div>