<h1>Register</h1>
<form action="/api/sessions/register" method="POST">
    <input type="text" name="username" placeholder="Ingrese usuario" > 
    <input type="text" name="first_name" placeholder="Ingrese nombre" > 
    <input type="text" name="last_name" placeholder="Ingrese apellido" > 
    <input type="email" name="email" placeholder="Ingrese email" > 
    <input type="password" name="password" placeholder="Ingrese password" > 
    <button>Enviar</button>
    <p>Ya tengo usuario <a href="/api/sessions/login">Iniciar sesión</a></p>
</form>
