<h1>Register</h1>
<form action="/api/sessions/register" method="POST">
    <input type="text" name="username" placeholder="ingrese usuario" > 
    <input type="text" name="first_name" placeholder="ingrese nombre" > 
    <input type="text" name="last_name" placeholder="ingrese apellido" > 
    <input type="text" name="email" placeholder="ingrese email" > 
    <input type="text" name="password" placeholder="ingrese password" > 
    <button>Enviar</button>
</form>
