<div>
    <h1>Olvidaste tu contrase침a?</h1>
    <p>Ingres치 tu nueva contrase침a!</p>
    <form action="/api/sessions/resetPassword" method="POST">
        <input type="hidden" name="token" value="{{token}}">
        <label>Nueva contrase침a</label>
        <input name="password" type="password">
        <button type="submit">Enviar</button>
    </form>
    <a href="/api/sessions/login">Iniciar sesion</a>
</div>